<!DOCTYPE html>
<html>
  <head>
    <%- include ../templates/headers %>
  </head>

  <body>
    <%- include ../templates/header %>

<div class="container p-5">
    <div class="alert alert-info text-center" role="alert">
        Almost done, check your email to activate account, please.
    </div>
    <br>
    <div class="alert alert-warning text-center" role="alert">
        Developer mode on:
        <br>
        <a href="<%- verifyLink %>">Confirm Registration</a>
        <br>
        This link should be sent on email, but I dont config email-sever yet.
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>

    <%- include ../templates/footer %>
    <%- include ../templates/jsRequired %>

  </body>
</html>
