<!DOCTYPE html>
<html>
  <head>
    <%- include ../templates/headers %>
    <link rel="stylesheet" href="/styles/account.css">
  </head>

  <body>
    <%- include ../templates/header %>

<div class="signup_form container col-xl-5 col-lg-7 col-md-8 ">
    <form action="/signup" method="POST">
        <div class="form-group mx-auto">
            <label for="name">Name</label>
            <input type="name" name='name' required class="form-control" maxlength='30' placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name='email' required  class="form-control" maxlength='60' placeholder="Enter email">
        </div>
        <!-- <div class="form&#45;group mx&#45;auto"> -->
        <!--     <label for="telephone">Telephone</label> -->
        <!--     <input type="text" name='telephone' required class="input bfh&#45;phone form&#45;control"data&#45;format="+38 (ddd) ddd&#45;dddd" maxlength='30' placeholder="Enter telephone"> -->
        <!-- </div> -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name='password' required class="form-control" minlength='6' maxlength='255' placeholder="Enter Password">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="btn-group text-center w-100 pt-4">
            <a href="/login" class="d-block btn btn-outline-primary w-100">Login</a>
        <br>
            <a href="/forgotpassword" class="d-block btn  btn-outline-primary w-100">Forgot your password?</a>
    </div>
</div>

    <%- include ../templates/footer %>
    <%- include ../templates/jsRequired %>

  </body>
</html>
