.items{
    margin-bottom: 30px;
}
.categoryWrapper{
    background: #e0e3ed;
}

.product-item{
    span {
        word-wrap: break-word;
    }
    box-sizing:border-box;
    padding: 3% 3% 0% 3% ;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    .productGrowBlock{
        flex-grow:2 ;
        // flex-grow:1;
    }
    @media (min-width: 992px){
        max-width: 30% !important;
        margin-left: 1.111%;
    }
    .img-wrapper{
        position: relative;
        flex-grow:2 ;
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .productname-wrapper{
        margin-top: 15px;
        span{
            font-size: 1.1em;
            font-weight: bold;
            color: #6659b6;
        }
    }
    .price-wrapper{
        span{
            font-size: 1.3em;
            font-weight: 900;
            color: #6659b6;
        }
    }
    .product-buttons-wrapper{
        margin-top: 20px;
    }
    .productView{
        margin-top: 10px;
        margin-bottom: 15px;
        a{
            display: block;
            width: 100%;
        }
    }
    .productAddToCart,.productView{
        color:#6659b6;
        border:1px solid #6659b6;
        background-color: #fff;
        border-radius: 0 !important;
    }
    .productAddToCart:hover{
        background:#6659b6;
        color: white !important;
    }
    .productView{
        background: #fff;
        a{
            color:#6659b6;
            text-decoration: none; 
        }
        &:hover{
            background:#6659b6;
            >a{
                color:white;
            }

        }
    }
}
