.word-wrap{
    word-wrap:break-word;
}
// .sale{
//     display: block;
//     position: absolute;
//     width: 50%;
//     height: 20%;
//     bottom: 0;
//     background: #ef0303fa;
//     border-radius: 0 150px 0  0;
//     max-height: 80px;
//     text-align:center;
//     span.sale-text{
//         color:white;
//         padding-right: 20px;
//         @media (min-width: 300px){
//             font-size: 2.3em;
//         }
//         @media (min-width: 380px){
//             font-size: 3em;
//         }
//         @media (min-width: 994px){
//             font-size: 2.0em;
//         }
//     }
//     span.sale-text-product{
//         @media (min-width: 994px){
//             font-size: 3.0em !important;
//         }
// }
// }
.categoryPages{
  background: white;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  >ul{
    height: 100%;
  }
}
.page-item{
  padding: 5px 5px 5px 5px;
}
.sale-price,.sale-discount{
  color: red !important;
}
.btn, .btn:focus{
    box-shadow: none;
    outline: none;
}


.productView:hover{
    color: white !important;
}
