.shop-page-wrapper{
    background: #e0e3ed;
}
.path-to-product{
    background: #fff;
    padding: 15px;
    color: #676767;
}
.slider_priceBlock{
    margin-top: 25px;
}
#current {
    opacity: 1;
}
.mySlider{
    display: flex;
    flex: 1 0 50%;
    // min-height: 550px;
    position: relative;
    background-color: #fff;
    box-sizing:border-box;
    padding: 3%;
}
.photo{
    width: 85%;
    position: relative;
    box-sizing:border-box;
    padding-left: 2%;
    left: 15%;
}
.photo img {
    width:100%;
}
.mySlider_thumb {
    width: 16%;
    height: 90%;
    position: absolute;
    overflow-y:auto;
    overflow-x:hidden;
    bottom: 0;
    top: 5%;
    left: 2%;
    padding-left: 1%;
    direction:rtl;
    text-align:right;
    box-sizing:border-box;
}
.mySlider_thumb a {
    display: block;
    width: 100%;
    padding: 2px 0 2px 0 ;
    box-sizing:border-box;
    opacity: 0.6;
}
.mySlider_thumb a img {
    box-sizing:border-box;
    // padding: 2px 0 2px 0 ;
    width: 100%;
    display:block;
}
.scrollbar-secondary::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5; 
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc; 
}

/////////////////
.data-title{
    font-weight: 600;
}
.data-value{
    color: #7b7b7b; 
}
.priceBlock{
    width: 100%;
    background: #fff;
    padding: 25px;    
    @media (min-width: 992px){
        margin-left: 2%;
    }
    @media (max-width: 992px){
        margin-top: 2%;
    }
}

.addToCart{
    background:#6659b6;
    color: white;
}
.productAddToCart{
    outline: none !important;
    box-shadow: none !important;
}
.addToCartBlock{
    margin-top: 2%;
}
.product-buttons-wrapper{
}
.price{
    .priceValue{
        font-weight: 700;
        font-size: 2.2em;
    }   
}


///////////////////// TABS

.tabs{
    margin-top: 25px;
    background-color: #fff;
    // min-height:100px;
    .nav-item > .active{
        background:#6659b6 !important;
        color: white;
        border-radius: 0;
   }
   .nav-link{
        color:#6659b6;

   }
   .nav-item {
       text-align:center;
   }
   .nav-pills {
       border: 1px solid #6659b6;
   }
}
#description{
    padding: 15px;
    color: #7b7b7b; 
}

footer{
    margin-top: 25px;
}
