<!DOCTYPE html>
<html>
    <head>
        <title>Предупреждение</title>
        <%- include ../templates/headers %>
    </head>
    <body>
        <%- include ../templates/header %>
        <div class="container p-5">
            <div class="alert alert-warning text-center p-5" role="alert">
                <strong><%- alertMsg %></strong>
            </div>
        </div>
        <%- include ../templates/footer %>
        <%- include ../templates/jsRequired %>
    </body>
</html>
