<!DOCTYPE html>
<html>
  <head>
    <%- include ../templates/headers %>
    <link rel="stylesheet" href="/styles/product.css">
  </head>

  <body>
    <%- include ../templates/header %>

    <div class="container-fluid shop-page-wrapper">
      <div class="container shop-page ">
        <div class="row word-wrap path-to-product">
        </div>
        <div class="row  slider_priceBlock">
          <div class="col-12 col-lg-7 mySlider">
            <div class="mySlider_thumb scrollbar scrollbar-secondary">
            </div>
            <div class="photo">
            </div>
          </div>
          <div class="col-12 col-lg-5 priceBlock">
            <div class="topPart word-wrap">
              <h3><%= good.name %></h3>
            </div>
            <hr>
            <div class="middlePart">
              <div class="price">
                <span class="priceValue"><%= good.price %> <%=__({ phrase: 'currency', locale: req.locale })%></span>
              </div>
              <hr>
              <div class="data">
                <% if (good.manufactor) { %>
                <div class="manufactorName"><span class="data-title"><%=__({ phrase: 'prod.manufactor', locale: req.locale  })%>
                    : </span> <span class="data-value"><%= good.manufactor %></span></div> <%}%>
                <% if (good.discount) { %>
                <div class="discountName"><span class="data-title"><%=__({ phrase: 'prod.discount', locale: req.locale  })%>
                    : </span> <span class="data-value textRed"><%= good.discount %>%</span></div><%}%>
                <!-- <% if (good.quantity) { %> -->
                <!-- <div class="avaibility"><span class="data&#45;title"><%=__({ phrase: 'prod.quantity', locale: req.locale  })%> -->
                <!--     : </span> <span class="data&#45;value"><%= good.quantity %></span></div><%}%> -->
                <!--  -->
                <% if (good.desc) { %>
                <div class="shortDesc"><span class=" data-title"><%=__({ phrase: 'prod.desc', locale: req.locale  })%>
                    : </span> <span class="word-wrap data-value"><%= good.desc %></span></div><%}%>
              </div>
            </div>
            <hr>
            <div class="bottomPart ">
              <!-- <div class="quantity d&#45;flex justify&#45;content&#45;center"> -->
              <!--     <input type="number" step="1" min="1" placeholder="Quantity" value="1" name="quantityValue" > -->
              <!-- </div> -->
              <div class="addedToCart d-flex justify-content-center" style="color:green;display:none;">
                <span style='display:none;'><i class="far fa-check-circle fa-2x"></i></span>
                <span style='font-size:1.5em;display:none;'><%=__({ phrase: 'prod.productAdded', locale: req.locale  })%></span>
              </div>
              <div class="addToCartBlock d-flex justify-content-center" style="display:none;">
                <button class="btn btn-lg addToCart" style="display:none;" data-product-id="<%=good.id%>" data-product-price="<%=good.price%>" data-product-name="<%=good.name%>"><%=__({ phrase: 'prod.addToCart', locale: req.locale  })%></button>
              </div>
            </div>
          </div>
        </div>
        <br>

      </div>
    </div>

    <script>
      // var good = <%- JSON.stringify(good) %>
      var good = <%- JSON.stringify(good) %>
      var session = <%- JSON.stringify(req.session.basket) %>
      session = session.map(el=>el.id == good.id)[0]
    </script>

    <%- include ../templates/footer %>
    <%- include ../templates/jsRequired %>
    <script src="/js/product.js"></script>

  </body>

</html>
