<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %>
        <link rel="stylesheet" href="/styles/blog.css">
    </head>
    <body>
        <%- include ../templates/header %>
        <div class="container">
            <div class="p-3 word-wrap">
                <div>
                    <h2> <%- data.title %></h2>
                </div>
                <article>
                    <p> <%- data.body %> </p>
                </article>
            </div>
        </div>
        <%- include ../templates/footer %>
        <%- include ../templates/jsRequired %>
    </body>
</html>
