.categories-list{ 
    font-size: 1.2em;
}

.filter-item{
    padding: 3%;
    input[type=number]{
        width: 50px;
    }
    border-top: 5px dashed #6659b682;
    border-bottom: 5px dashed #6659b682;
    &:last-child{
        border:none;
    }
}

.bold{
    font-weight: bold;
}

.exitsts-filter-values{
    margin-top: 15px;
    padding: 0 5%;
    border-radius: 4%;
    input[type=text]{
        margin: 0 10px;
    }
    a{
        font-size: 1em !important;
    }
}
.new-value-name{
    margin: 0 10px;
}
.saveChanges{
    // font-size: 3em;
    // width: 60%;
    // margin-left: 20%;
    // margin-bottom: 50px;
}

.customLine{
    border-top: 5px dashed #6659b6;
    opacity: 0.4;
}
