.orderByStatusCode{
    width: 100%;
    a{
        border: 1px solid #337ab7;
        width: 25%;
    }
}

.blink_me {
      animation: blinker 2s linear infinite;

}

@keyframes blinker {
    50% {
        opacity: 0.1;
    }
}


.panel {
    border: 1.1px solid !important;
}
.panel-primary{
    border-color: #337ab7 !important;
}

.textBold {
  font-weight: bold;
}
.textRed{
  color: red;
}
.userList td{
  max-width: 250px !important;
  word-break:break-all !important;
  white-space:normal !important;
}
.whitespace-normal{
}
.bgRed{
  background: red;
}
.colorWhite{
  color:white;
}

.ordersDateRange{
  width: 50%;
}

