<div class="row tabs">
    <!-- Nav pills -->
    <ul class="nav nav-pills w-100">
        <li class="nav-item w-50">
            <a class="nav-link " data-toggle="pill" href="#description">Description</a>
        </li>
        <li class="nav-item w-50">
            <a class="nav-link active" data-toggle="pill" href="#properties">Properties</a>
        </li>
        <!-- <li class="nav&#45;item"> -->
        <!--     <a class="nav&#45;link" data&#45;toggle="pill" href="#menu2">Menu 2</a> -->
        <!-- </li> -->
        <!-- <li class="nav&#45;item"> -->
        <!--     <a class="nav&#45;link" data&#45;toggle="pill" href="#menu2">Menu 2</a> -->
        <!-- </li> -->
    </ul>

    <!-- Tab panes -->
    
    <div class="tab-content w-100">
        <div class="tab-pane  container" id="description">
            Ipsum quod unde accusantium tempore autem Sapiente nostrum error harum molestias sed? Corporis odio temporibus accusantium perferendis ipsam expedita Adipisci reiciendis maxime blanditiis maxime at, dolorum voluptatibus nobis Eveniet esse ullam ducimus blanditiis sunt quis! Accusantium commodi eligendi officia pariatur deleniti. Tempore eligendi cumque suscipit consequuntur recusandae Quam mollitia consectetur.
        </div>
        <div class="tab-pane container active w-100  mt-2 " id="properties">
            <div class="table-responsive col-10 col-md-6  mx-auto">
                <h4>Properties</h4>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="table-responsive col-10 col-md-6 mx-auto">
                <h4>Custom properties</h4>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="tab&#45;pane container" id="menu2">...</div> -->
    </div>
</div>
