<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <%- include ../templates/headers %>
    </head>
    <body>
        <%- include ../templates/header %>
        <div class="container p-5">
            <div class="alert alert-danger text-center p-5" role="alert">
                <strong><%- alertMsg %></strong>
            </div>
        </div>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>
        <%- include ../templates/footer %>
        <%- include ../templates/jsRequired %>
    </body>
</html>
