<div class="container-fluid menu_wrapper">
    <div class="container menu">
        <header class="d-flex flex-wrap">
            <!-- <div class="cd&#45;dropdown&#45;wrapper"> -->
                <!-- <a class="cd&#45;dropdown&#45;trigger" href="/">Главная</a> -->
                <!-- <nav class="cd&#45;dropdown"> -->
                    <!-- <h2>ekiosk.com</h2> -->
                    <!-- <a href="#0" class="cd&#45;close">Close</a> -->
                    <!-- <ul class="cd&#45;dropdown&#45;content"> -->
                        <!-- <li> -->
                        <!--     <form class="cd&#45;search"> -->
                        <!--         <input type="search" placeholder="Search..."> -->
                        <!--     </form> -->
                        <!-- </li> -->
                        <!-- <li class="cd&#45;divider">Categories</li> -->
                        <!-- <li class="has&#45;children"> -->
                            <!-- <a href="#">Clothes</a> -->
                            <!--  -->
                            <!-- <ul class="cd&#45;secondary&#45;dropdown is&#45;hidden"> -->
                            <!--     <li class="go&#45;back"><a href="#0">Menu</a></li> -->
                            <!--     <!&#45;&#45; <li class="see&#38;#45;all"><a href="#">All Clothing</a></li> &#45;&#45;> -->
                            <!--     <li class="has&#45;children w&#45;100"> -->
                            <!--         <a href="#">Clothes</a> -->
                            <!--  -->
                            <!--         <ul class="is&#45;hidden"> -->
                            <!--             <li class="go&#45;back"><a href="#0">Clothes</a></li> -->
                            <!--             <li class="see&#45;all"><a href="#">All Clothes</a></li> -->
                            <!--             <li class="has&#45;children"> -->
                            <!--                 <a href="#0">Shoes</a> -->
                            <!--  -->
                            <!--                 <ul class="is&#45;hidden"> -->
                            <!--                     <li class="go&#45;back"><a href="#0">Clothes</a></li> -->
                            <!--                     <li class="see&#45;all"><a href="/clothes">All Shoes</a></li> -->
                            <!--                     <li><a href="/clothes/shoes/man">Man</a></li> -->
                            <!--                     <li><a href="/clothes/shoes/women">Woman</a></li> -->
                            <!--                     <!&#45;&#45; <li><a href="#">Scarves &#38;#38;amp; Snoods</a></li> &#45;&#45;> -->
                                            <!-- </ul> -->
                                        <!-- </li> -->
                                        <!-- <li class="has&#45;children w&#45;100"> -->
                                        <!--     <a href="#0">Caps &#38;amp; Hats</a> -->
                                        <!--  -->
                                        <!--     <ul class="is&#45;hidden"> -->
                                        <!--         <li class="go&#45;back"><a href="#0">Accessories</a></li> -->
                                        <!--         <li class="see&#45;all"><a href="#">All Caps &#38;amp; Hats</a></li> -->
                                        <!--         <li><a href="#">Beanies</a></li> -->
                                        <!--         <li><a href="#">Caps</a></li> -->
                                        <!--         <li><a href="#">Hats</a></li> -->
                                        <!--     </ul> -->
                                        <!-- </li> -->
                                        <!-- <li><a href="/clothes/jeans">Jeans</a></li> -->
                                        <!-- <li><a href="#">Gloves</a></li> -->
                                        <!-- <li><a href="#">Jewellery</a></li> -->
                                        <!-- <li><a href="#">Scarves</a></li> -->
                                    <!-- </ul> -->
                                <!-- </li> -->
                            <!-- </ul> -->
                            <!-- .cd-secondary-dropdown -->
                        <!-- </li> -->
                        <!-- .has-children -->
                        <!-- <li class="has&#45;children"> -->
                            <!-- <a href="/computers">Computers</a> -->

                            <!-- <ul class="cd&#45;secondary&#45;dropdown is&#45;hidden"> -->
                                <!-- <li class="go&#45;back"><a href="#0">Menu</a></li> -->
                                <!-- <li class="see&#45;all"><a href="#">All Clothing</a></li> -->
                                <!-- <li class="has&#45;children w&#45;100"> -->
                                    <!-- <a href="/computers">Computers</a> -->

                                    <!-- <ul class="is&#45;hidden"> -->
                                        <!-- <li class="go&#45;back"><a href="#0">Computers</a></li> -->
                                <!--         <li class="see&#45;all"><a href="/computers">All Computers</a></li> -->
                                <!--         <li><a href="/computers/laptops">Laptops</a></li> -->
                                <!--         <li><a href="/computers/monitors">Monitors</a></li> -->
                                <!--         <li><a href="/computers/tablets">Tablets</a></li> -->
                                <!--     </ul> -->
                                <!-- </li> -->
                            <!-- </ul> -->
                            <!-- .cd-secondary-dropdown -->
                        <!-- </li> -->
                        <!-- .has-children -->
                        <!-- <li class="has&#45;children"> -->
                        <!--     <a href="/phones">Phones</a> -->
                        <!--  -->
                        <!--     <ul class="cd&#45;secondary&#45;dropdown is&#45;hidden"> -->
                        <!--         <li class="go&#45;back"><a href="#0">Menu</a></li> -->
                        <!--         <!&#45;&#45; <li class="see&#38;#45;all"><a href="#">All Clothing</a></li> &#45;&#45;> -->
                        <!--         <li class="has&#45;children w&#45;100"> -->
                        <!--             <a href="/phones">Phones</a> -->
                        <!--  -->
                        <!--             <ul class="is&#45;hidden"> -->
                        <!--                 <li class="go&#45;back"><a href="#0">Phones</a></li> -->
                        <!--                 <li class="see&#45;all"><a href="/computers">All Phones</a></li> -->
                        <!--                 <li><a href="/phones/office">Office phones</a></li> -->
                        <!--                 <li><a href="/phones/smartphones">Smartphones</a></li> -->
                        <!--             </ul> -->
                        <!--         </li> -->
                        <!--     </ul> -->
                            <!-- .cd-secondary-dropdown -->
                        <!-- </li> -->
                        <!-- .has-children -->

                        <!-- <li class="has&#45;children"> -->
                        <!--     <a href="#">Gallery</a> -->
                        <!--  -->
                        <!--     <ul class="cd&#45;dropdown&#45;gallery is&#45;hidden"> -->
                        <!--         <li class="go&#45;back"><a href="#0">Menu</a></li> -->
                        <!--         <li class="see&#45;all"><a href="#">Browse Gallery</a></li> -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item" href="#"> -->
                        <!--                 <img src="/images/img.jpg" alt="Product Image"> -->
                        <!--                 <h3>Product #1</h3> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item" href="#"> -->
                        <!--                 <img src="/images/img.jpg" alt="Product Image"> -->
                        <!--                 <h3>Product #2</h3> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item" href="#"> -->
                        <!--                 <img src="/images/img.jpg" alt="Product Image"> -->
                        <!--                 <h3>Product #3</h3> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item" href="#"> -->
                        <!--                 <img src="/images/img.jpg" alt="Product Image"> -->
                        <!--                 <h3>Product #4</h3> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--     </ul> -->
                        <!--     <!&#45;&#45; .cd&#45;dropdown&#45;gallery &#45;&#45;> -->
                        <!-- </li> -->
                        <!-- <!&#45;&#45; .has&#45;children &#45;&#45;> -->
                        <!--  -->
                        <!-- <li class="has&#45;children"> -->
                        <!--     <a href="#">Services</a> -->
                        <!--     <ul class="cd&#45;dropdown&#45;icons is&#45;hidden"> -->
                        <!--         <li class="go&#45;back"><a href="#0">Menu</a></li> -->
                        <!--         <li class="see&#45;all"><a href="#">Browse Services</a></li> -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;1" href="#"> -->
                        <!--                 <h3>Service #1</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;2" href="#"> -->
                        <!--                 <h3>Service #2</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;3" href="#"> -->
                        <!--                 <h3>Service #3</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;4" href="#"> -->
                        <!--                 <h3>Service #4</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;5" href="#"> -->
                        <!--                 <h3>Service #5</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;6" href="#"> -->
                        <!--                 <h3>Service #6</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;7" href="#"> -->
                        <!--                 <h3>Service #7</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;8" href="#"> -->
                        <!--                 <h3>Service #8</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;9" href="#"> -->
                        <!--                 <h3>Service #9</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;10" href="#"> -->
                        <!--                 <h3>Service #10</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;11" href="#"> -->
                        <!--                 <h3>Service #11</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--         <li> -->
                        <!--             <a class="cd&#45;dropdown&#45;item item&#45;12" href="#"> -->
                        <!--                 <h3>Service #12</h3> -->
                        <!--                 <p>This is the item description</p> -->
                        <!--             </a> -->
                        <!--         </li> -->
                        <!--  -->
                        <!--     </ul> -->
                        <!--     <!&#45;&#45; .cd&#45;dropdown&#45;icons &#45;&#45;> -->
                        <!-- </li> -->
                        <!-- <!&#45;&#45; .has&#45;children &#45;&#45;> -->


                        <!-- <li class="cd&#45;divider">Information</li> -->
                        <!--  -->
                        <!-- <li><a href="/about">About Us</a></li> -->
                        <!-- <li><a href="/blog">Blog</a></li> -->
                        <!-- <li><a href="/contact">Contacts</a></li> -->
                    <!-- </ul> -->
                    <!-- .cd-dropdown-content -->
                <!-- </nav> -->
                <!-- .cd-dropdown -->
            <!-- </div> -->
            <!-- .cd-dropdown-wrapper -->
            <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  -->
            <nav class="navbar second_menu navbar-expand-sm ">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item align-self-center text-center home_menu_button d-flex justify-content-center">
                        <!-- <i class="fas fa&#45;home align&#45;self&#45;center"></i> -->
                        <a class="nav-link align-self-center" href="/">Home</a>
                    </li>
                    <li class="nav-item align-self-center text-center">
                        <a class="nav-link menuLinks align-self-center" href="/category/backpacks">Рюкзаки</a>
                    </li>
                    <li class="nav-item align-self-center text-center">
                        <a class="nav-link menuLinks align-self-center" href="/category/bags">Сумки</a>
                    </li>
                    <li class="nav-item align-self-center text-center">
                      <a class="nav-link menuLinks align-self-center" href="/category/accessories">Акссесуары</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</div>





