<div class="container-fluid menu_wrapper">
    <div class="container menu">
        <header class="d-flex flex-wrap">
            <nav class="navbar second_menu navbar-expand-sm ">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item align-self-center text-center <% if(req.path == '/'){%> active <%}%> d-flex justify-content-center">
                        <a class="nav-link align-self-center " href="/">Главная</a>
                    </li>
                    <li class="nav-item align-self-center text-center <% if(req.path == '/category/backpacks'){%> active <%}%> ">
                        <a class="nav-link menuLinks align-self-center" href="/category/backpacks">Рюкзаки</a>
                    </li>
                    <li class="nav-item align-self-center text-center<% if(req.path == '/category/bags'){%> active <%}%> ">
                        <a class="nav-link menuLinks align-self-center" href="/category/bags">Сумки</a>
                    </li>
                    <li class="nav-item align-self-center text-center<% if(req.path == '/category/accessories'){%> active <%}%> ">
                      <a class="nav-link menuLinks align-self-center" href="/category/accessories">Акссесуары</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</div>





