<!DOCTYPE html>
<html>
  <head>
    <%- include templates/headers %>
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/category.css">
  </head>
  <body>
    <%- include templates/header %>
    <div class="container-fluid alertWrapper">

      <div class="container p-2 word-wrap">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://picsum.photos/2000/700" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://picsum.photos/2000/700" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://picsum.photos/2000/700" alt="First slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br>
        <% if(salesList.length > 0){%>
        <h2>Скидки</h2>
        <hr>
        <div class="row d-flex flex-wrap items no-gutters justify-content-around" >
          <% for (var i = 0; i < salesList.length; i++){%>
          <div class="col-12 col-lg-4 col-md-6 product-item" 
               data-product-id="<%=salesList[i].id%>" 
               data-product-price="<%=salesList[i].price%>"
               data-product-name="<%=salesList[i].name%>" 
               data-product-qty="1">
               <div class="productGrowBlock">
               </div>
               <div class="img-wrapper">
                 <% if(Object.keys(salesList[i].images).length === 0){%>
                 <img src="/images/placeholder.png" alt="">
                 <% }else{%>
                 <img src="<%= salesList[i].images[0].toString() %>" alt="">
                 <%}%>
               </div>
               <div class="prod-wrapper">
                 <div class="productname-wrapper">
                   <span  class="productnameValue"><%= salesList[i].name %></span >
                 </div>
                 <div class="price-wrapper">
                   <% if(salesList[i].discount >0 ){%>
                     <span  class="productPrice sale-discount">-<%= salesList[i].discount %>%</span >
                     <br>
                     <span  class="productPrice sale-price"><%= salesList[i].price %><%=__({ phrase: 'currency', locale: req.locale  })%> </span >
                   <%}else{%>
                     <span  class="productPrice "><%= salesList[i].price %><%=__({ phrase: 'currency', locale: req.locale  })%>
                     </span >
                   <%}%>
                 </div>
                 <div class="product-buttons-wrapper d-flex flex-wrap">
                   <button class="btn productAddToCart w-100"><%=__({ phrase: 'prod.addToCart', locale: req.locale  })%></button>
                   <br> 
                   <a class="btn productView  w-100" href="/product/<%=salesList[i].id%>"><%=__({ phrase: 'details', locale: req.locale  })%></a>
                 </div>
               </div>
          </div>
          <%}%>
        </div>
        <%}%>
        <% if(newList.length > 0){%>
        <h2>Новинки</h2>
        <hr>
        <div class="row d-flex flex-wrap items no-gutters justify-content-around" >
          <% for (var i = 0; i < newList.length; i++){%>
          <div class="col-12 col-lg-4 col-md-6 product-item" 
               data-product-id="<%=newList[i].id%>" 
               data-product-price="<%=newList[i].price%>"
               data-product-name="<%=newList[i].name%>" 
               data-product-qty="1">
               <div class="productGrowBlock">
               </div>
               <div class="img-wrapper">
                 <% if(Object.keys(newList[i].images).length === 0){%>
                 <img src="/images/placeholder.png" alt="">
                 <% }else{%>
                 <img src="<%= newList[i].images[0].toString() %>" alt="">
                 <%}%>
               </div>
               <div class="prod-wrapper">
                 <div class="productname-wrapper">
                   <span  class="productnameValue"><%= newList[i].name %></span >
                 </div>
                 <div class="price-wrapper">
                   <% if(newList[i].discount >0 ){%>
                     <span  class="productPrice sale-discount">-<%= newList[i].discount %>%</span >
                     <br>
                     <span  class="productPrice sale-price"><%= newList[i].price %><%=__({ phrase: 'currency', locale: req.locale  })%> </span >
                   <%}else{%>
                     <span  class="productPrice "><%= newList[i].price %><%=__({ phrase: 'currency', locale: req.locale  })%>
                     </span >
                   <%}%>
                 </div>
                 <div class="product-buttons-wrapper d-flex flex-wrap">
                   <button class="btn productAddToCart w-100"><%=__({ phrase: 'prod.addToCart', locale: req.locale  })%></button>
                   <br> 
                   <a class="btn productView  w-100" href="/product/<%=newList[i].id%>"><%=__({ phrase: 'details', locale: req.locale  })%></a>
                 </div>
               </div>
          </div>
          <%}%>
        </div>
        <%}%>


        <% if(popularList.length > 0){%>
        <h2>Популярные товары</h2>
        <hr>
        <div class="row d-flex flex-wrap items no-gutters justify-content-around" >
          <% for (var i = 0; i < popularList.length; i++){%>
          <div class="col-12 col-lg-4 col-md-6 product-item" 
               data-product-id="<%=popularList[i].id%>" 
               data-product-price="<%=popularList[i].price%>"
               data-product-name="<%=popularList[i].name%>" 
               data-product-qty="1">
               <div class="productGrowBlock">
               </div>
               <div class="img-wrapper">
                 <% if(Object.keys(popularList[i].images).length === 0){%>
                 <img src="/images/placeholder.png" alt="">
                 <% }else{%>
                 <img src="<%= popularList[i].images[0].toString() %>" alt="">
                 <%}%>
               </div>
               <div class="prod-wrapper">
                 <div class="productname-wrapper">
                   <span  class="productnameValue"><%= popularList[i].name %></span >
                 </div>
                 <div class="price-wrapper">
                   <% if(popularList[i].discount >0 ){%>
                     <span  class="productPrice sale-discount">-<%= popularList[i].discount %>%</span >
                     <br>
                     <span  class="productPrice sale-price"><%= popularList[i].price %><%=__({ phrase: 'currency', locale: req.locale  })%> </span >
                   <%}else{%>
                     <span  class="productPrice "><%= popularList[i].price %><%=__({ phrase: 'currency', locale: req.locale  })%>
                     </span >
                   <%}%>
                 </div>
                 <div class="product-buttons-wrapper d-flex flex-wrap">
                   <button class="btn productAddToCart w-100"><%=__({ phrase: 'prod.addToCart', locale: req.locale  })%></button>
                   <br> 
                   <a class="btn productView  w-100" href="/product/<%=popularList[i].id%>"><%=__({ phrase: 'details', locale: req.locale  })%></a>
                 </div>
               </div>
          </div>
          <%}%>
        </div>
        <%}%>

      </div>
    </div>
    <script>
var goods = [];
    </script>
    <%- include templates/footer %>
    <%- include templates/jsRequired %>
    <script src="/js/productList.js"></script>
    <script src="/js/dashboard.js"></script> 
  </body>
</html>
