<!DOCTYPE html>
<html>
  <head>
    <%- include templates/headers %> 
    <link rel="stylesheet" href="/styles/dependencies/chosen.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
  </head>
  <body>
    <div id="wrapper">
      <%- include ./templates/sidebar %>
      <div id="page-wrapper"> 
        <div class="row">
          <h1 class="page-header">Dashboard</h1>
        </div>
        <% if(areNewOrders){%>
        <div class="row blink_me openedOrdersList">
          <a href="/orders/list?opened">
            <span><i class="fab fa-hotjar fa-3x" style="color:red;"></i></span>
            <span style="font-size:3em;"><b>New order(s)</b></span>
          </a>
          <hr>
        </div>
        <%}%>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-users.quantity%></div>
                    <div>Users</div>
                  </div>
                </div>
              </div>
              <a href="/users/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-newspaper fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-blog.quantity%></div>
                    <div>Articles</div>
                  </div>
                </div>
              </div>
              <a href="/blog/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-goods.quantity%>/<%-goods.allQuantity%></div>
                    <div>Goods</div>
                  </div>
                </div>
              </div>
              <a href="/goods/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-check-circle fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-orders.qtyOpened%> / <%-orders.qtyProcessed%> / <%-orders.qtyClosed%></div>
                    <div>Orders</div>
                  </div>
                </div>
              </div>
              <a href="/orders/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <h1 class="page-header">Config Homepage</h1>
          <span>Max items in lists - 3</span>
          <div class="configList ">
            <h4>Sales</h4>
            <select data-placeholder="Sales" multiple class="chosen-select salesList">
            </select><br/><br/>
            <h4>New</h4>
            <select data-placeholder="New" multiple class="chosen-select newList">
            </select><br/><br/>
            <h4>Popular</h4>
            <select data-placeholder="Popular" multiple class="chosen-select popularList">
            </select><br/><br/>
          </div>
        </div>
        <button class="btn btn-primary saveConfigList">Save</button>
      </div>
      <!-- /#wrapper -->
      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->
      <%- include templates/jsRequired %> 

      <script>
        var configList =<%-JSON.stringify(configList)%>
        var allGoods =<%-JSON.stringify(allGoods)%>

      </script>
      <script src="/js/dashboard.js"></script>
      <script src="/js/dependencies/chosen.jquery.min.js"></script>
  </body>
</html>
