<!DOCTYPE html>
<html>
    <head>
        <%- include templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <%- include ./templates/sidebar %>
            <div id="page-wrapper"> 
                <div class="row">
                    <h1 class="page-header">Help</h1>
                </div>

                <div class="row">
                    <p>Status Codes:</p>
                    <ul>
                        <li>0 - opened</li>
                        <li>1 - processed</li>
                        <li>2 - closed</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include templates/jsRequired %> 
    </body>
</html>
