<!DOCTYPE html>
<html>

<head>
  <title>
    <%=typeof title == 'undefined' ? 'New Sails App' : title%>
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

  <!-- Bootstrap Core CSS -->
  <link href="/sbAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="/sbAdmin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/sbAdmin/dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/sbAdmin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body>
  <div id="wrapper">
    <% include ./templates/sidebar %>
    <%- body %>

  </div>
  <!-- /#wrapper -->
  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->

  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
  <!-- jQuery -->
<script src="/sbAdmin/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/sbAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/sbAdmin/vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Morris Charts JavaScript -->
  <script src="/sbAdmin/vendor/raphael/raphael.min.js"></script>
  <script src="/sbAdmin/vendor/morrisjs/morris.min.js"></script>7
  <!-- Custom Theme JavaScript -->
  <script src="/sbAdmin/dist/js/sb-admin-2.js"></script>

<!-- Must be -->
  <script src="/js/musthave.js"></script>

  <script src="/js/users.js"></script>
  <script src="/js/blog.js"></script>
  <script src="/js/categories.js"></script>
  <script src="/js/categoriesTree.js"></script>
  <script src="/js/product.js"></script>

</body>

</html>
