<!DOCTYPE html>
<html>
  <head>
    <%- include templates/headers %> 
  </head>
  <body>
    <div id="wrapper">
      <%- include ./templates/sidebar %>
      <div id="page-wrapper"> 
        <div class="row">
          <h1 class="page-header">Dashboard</h1>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-users.quantity%></div>
                    <div>Users</div>
                  </div>
                </div>
              </div>
              <a href="/users/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-newspaper fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-blog.quantity%></div>
                    <div>Articles</div>
                  </div>
                </div>
              </div>
              <a href="/blog/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-goods.quantity%>/<%-goods.allQuantity%></div>
                    <div>Goods</div>
                  </div>
                </div>
              </div>
              <a href="/goods/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-check-circle fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge"><%-orders.qtyOpened%> / <%-orders.qtyProcessed%> / <%-orders.qtyClosed%></div>
                    <div>Orders</div>
                  </div>
                </div>
              </div>
              <a href="/orders/list">
                <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="row"> -->
        <!--   <hr> -->
        <!--   <div>Summary proceeds: </div> -->
        <!--   <div>Summary profit: </div> -->
        <!--   <hr> -->
        <!-- </div> -->
        <hr>
        <div class="row">
          <!--   <div> -->
          <!--   <input type="text" class="datepicker"> -->
          <!-- </div> -->
          <div class="reportByRange">
            <form action="#">
              <h2>Report by date range</h2>
              <div class="ordersDateRange">
                <div class="input-group input-daterange ">
                  <div class="input-group-addon">From</div>
                  <input type="text" class="form-control dateFrom" required >
                  <div class="input-group-addon">To</div>
                  <input type="text" class="form-control dateTo" required>
                </div>
              </div>
              <br>
              <label for="sortBy">Sort By: </label>
              <select name="sortBy">
                <option value="goodId">Good Id</option>
                <option value="qty">Quantity</option>
                <option value="sum">Sum</option>
                <option value="profit">Profit</option>
              </select>
              <br>
              <label for="sortDirection">Sort Direction: </label>
              <select name="sortDirection">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
              <br>
              <input type='submit' class='btn btn-primary getReportBtn' value="Get report">
            </form>
          </div>
        </div>
        <hr>
        <div class="reportByRangeResult" hidden>
          <div>
            <a href="/orders/list?closed" class="linkToOrderListByRange">View closed orders by date range</a>
          </div>

          <div class="table-responsive">
            <table class="table" align='center'>
              <thead>
                <tr>
                  <th>Closed Orders Quantity</th>
                  <th>Avg order sum</th>
                  <th>Total quantity sold goods</th>
                  <th>Total sum</th>
                  <th>Total profit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="closedOrdersQuantity"></span>
                  </td>
                  <td>
                    <span class="avgOrderSum"></span>
                  </td>
                  <td>
                    <span class="totalGoodsQuantity"></span>
                  </td>
                  <td>
                    <span class="totalSum"></span>
                  </td>
                  <td>
                    <span class="totalProfit"></span>
                  </td>
                </tr>
              </tbody> 
            </table>
          </div>


          <div class="table-responsive">
            <table class="table" align='center'>
              <thead>
                <tr>
                  <th>Good Id</th>
                  <th>Nomenclature</th>
                  <th>Entry Price</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Sum</th>
                  <th>Profit</th>
                </tr>
              </thead>
              <tbody class="listOfGoods">
              </tbody> 
            </table>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <!-- /#wrapper -->
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <%- include templates/jsRequired %> 
    <script src="/js/statistics.js"></script>
  </body>
</html>
