<!DOCTYPE html>
<html>
  <head>
    <%- include ../templates/headers %>
  </head>

  <body>
    <%- include ../templates/header %>

<div class="container p-5">
    <div class="alert alert-success text-center" role="alert">
        <strong>Congratulations, you are registered. </strong><br>
        <strong>This link destroyed. </strong><br>
        <a href="/login">Login</a> 
    </div>
</div>

    <%- include ../templates/footer %>
    <%- include ../templates/jsRequired %>

  </body>
</html>
