<!DOCTYPE html>
<html>
    <head>

<%- include ../templates/headers %>
    </head>

    <body>
        <%- include ../templates/header %>

        <div class="container p-5">
            <div class="alert alert-warning text-center" role="alert">
                <strong>Warning!</strong> This email already exists. <br>
                <%if (!isVerify) {%>
                BUT NOT VERYFIED. CHECK YOUR EMAIL.
                <%}%><br>
                <a href="/login">Login</a> / <a href="/forgotpassword">Forgot your password?</a>
            </div>
        </div>

        <%- include ../templates/footer %>
        <%- include ../templates/jsRequired %>
    </body>
</html>
