<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/headers %>
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-8 ">
                    <br>
                    <br>
                    <form action="/providers/addOne" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="TEXT" id="name" name="name" minlength='6' required maxlength="255" >
                        </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
    </body>
</html>
