<footer>

    <div class="container-fluid topfooter_wrapper">
        <div class="topfooter container d-flex">
            <div class="row d-flex justify-content-between">
            <div class="contactUs col-lg-3 col-sm-5 col-12">
                <div class="topfooter__headers">
                    <span>contact us</span>
                </div>
                <div class="topfooter__list">
                    <ul>
                        <li>
                            <span><span class="topfooter__list--bold">Office:</span> 795 Folsom Ave, Suite 600 San Francisco, CA 94107</span><br>
                        </li>
                        <li> 
                            <span><span class="topfooter__list--bold">Phone: </span>(91) 8547 632521</span><br>
                        </li>
                        <li>
                            <span><span class="topfooter__list--bold">Fax: </span>(91) 11 4752 1433</span><br>
                        </li>
                        <li>
                            <span><span class="topfooter__list--bold">Email:</span> info@panza.com </span><br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="myAccount col-lg-3 col-sm-5 col-12">
                <div class="topfooter__list">
                    <ul>
                        <li>
                            <a href="#"><span>Login</span></a>
                        </li>
                        <li>
                            <a href="#"><span>My Cart</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Wishlist</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Checkout</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="information col-lg-3 col-sm-5 col-12">
                <div class="topfooter__headers">
                    <span>information</span>
                </div>
                <div class="topfooter__list">
                    <ul>
                        <li>
                            <a href="#"><span>Special</span></a>
                        </li>
                        <li>
                            <a href="#"><span>New Products</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Best Sellers</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Our Stores</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="orders col-lg-3 col-sm-5 col-12">
                <div class="topfooter__list">
                    <ul>
                        <li>
                            <a href="#"><span>Payment options</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Shipping and delivery</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Returns</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Shipping</span></a>
                        </li>
                    </ul>
                </div>
            </div>
</div>
        </div>
    </div>
    <div class="container-fluid bottomfooter_wrapper">
        <div class="bottomfooter container">
            <div class="bottomfooter__copyright d-flex justify-content-center">
                <span class="align-self-center">Copyright 2018  |  All Rights Reserved</span>
            </div>
            <div class="bottomfooter_sm-icons d-flex justify-content-center">
                <a class="icon" href="https://twitter.com" title="Follow with Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="icon" href="https://facebook.com" title="Follow with Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                <a class="icon" href="https://youtube.com" title="Follow with YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
                <a class="icon" href="https://plus.google.com" title="Follow with Google Plus" target="_blank"><i class="fab fa-google-plus"></i></a>
                <a class="icon" href="https://linkedin.com" title="Follow with LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="icon" href="https://pinterest.com" title="Follow with Pinterest" target="_blank"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </div>

</footer>
