<% if (sails.config.livereloadPath) { %>
<script src="<%= sails.config.livereloadPath %>"></script>
<% } %>
<title><%=typeof title == 'undefined' ? 'Ekiosk' : title%></title>
<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/dependencies/bootstrap/bootstrap-grid.min.css">
<link rel="stylesheet" href="/styles/dependencies/bootstrap/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/styles/dependencies/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/styles/dependencies/jquery-ui.css">
<!--STYLES-->
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->
