<div class="container-fluid topheader_wrapper">
    <div class="topheader container d-flex flex-wrap justify-content-between">
        <div class="left_side text-middle">
            <ul class="list-inline d-flex justify-content-center topheader_list">
                <li class="list-inline-item align-self-center topheader_left_list"><a href="/about"><%=__({ phrase: 'header.about', locale: req.locale  })%>
</a></li>
                <li class="list-inline-item align-self-center topheader_left_list"><a href="/contacts"><%=__({ phrase: 'header.contact', locale: req.locale  })%>
</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid middleheader-wrapper">
    <div class="search_basket middleheader d-flex justify-content-center flex-wrap">

        <div class="middleheader-basket d-flex text-center flex-wrap align-self-center">
            <div class="basket_icon align-self-center d-flex justify-content-center">
                <i class="fas fa-shopping-basket align-self-center"></i>
            </div>
            <div class="basket_text d-flex justify-content-center">
                <span class="align-self-center basketQty"><% if(req.session.basket != null){%><%= req.session.basketData.qty %><%}else{%>0<%}%></span>
                <span class="align-self-center">&nbsp; <%=__({ phrase: 'items', locale: req.locale  })%> | &nbsp;</span>
                <span class="align-self-center basketSum"><% if(req.session.basket != null){%><%= req.session.basketData.sum %><%}else{%>0<%}%></span>
                <span class="align-self-center">&nbsp;<%=__({ phrase: 'currency', locale: req.locale  })%> </span>
            </div>
        </div>
        <!-- /.middleheader-basket -->
    </div>
</div>
<%- include header_menu %>
