<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>

<script src="/js/dependencies/sails.io.js"></script>
<Script src="/js/dependencies/jquery-3.3.1.min.js"></script>
<script src="/js/dependencies/popper.min.js"></script>
<script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
<script src="/js/dependencies/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/dependencies/jquery-ui.js"></script>
<script src="/js/header_menu.js"></script> 
<script src="/js/musthave.js"></script> 
<script src="/js/dependencies/loadingoverlay.min.js"></script>

