<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %>
        <link rel="stylesheet" href="/styles/blog.css">
    </head>
    <body>
        <%- include ../templates/header %>
        <div class="container">
            <hr>
            <% for(var i=0; i < data.length; i++) { %>
            <div class="p-3 word-wrap">
                <h2><%- data[i].id %>: <%- data[i].title %></h2>
                <article>
                    <p> <%- data[i].body %> </p>
                </article>
                <a class="btn btn-primary" href="/article/<%- data[i].id %>"><%=__({ phrase: 'readMore', locale: req.locale  })%></a> 
            </div>
            <hr>
            <% } %>
            <div class='text-center '>
                <ul class="pagination justify-content-center">
                    <% for(var i=1; i < pagination.length+1; i++) { %>
                    <%if (i == pagination.current) { %>
                    <li class="page-item active"><a href="/blog/<%- i%>" class='page-link'><%- i%></a></li>
                    <% } else{%>
                    <li class="page-item"><a href="/blog/<%- i%>" class="page-link"><%- i%></a></li>
                    <% } %>
                    <% } %>
                </ul>
            </div>
            <hr>
        </div>
        <%- include ../templates/footer %>
        <%- include ../templates/jsRequired %>
    </body>
</html>
