<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/headers %>
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-12 ">
                    <br>
                    <br>
                    <form action="/delivers/editOne/<%= data.id %>" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="TEXT" id="name" class="form-control" name="name" minlength='6' value='<%= data.name%>' maxlength="255" >
                    </div>
                    <div class="form-group">
                        <label>UpdatedAt</label>
                        <span><%=data.updatedAt%></span>
                    </div>
                    <div class="form-group">
                        <label>CreatedAt</label>
                        <span><%=data.createdAt%></span>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary ">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
    </body>
</html>
