<% if (sails.config.livereloadPath) { %>
<script src="<%= sails.config.livereloadPath %>"></script>
<% } %>
<title>
    <%=typeof title == 'undefined' ? 'ADMIN' : title%>
</title>
<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

<!-- Bootstrap Core CSS -->
<link href="/sbAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/styles/bootstrap-datepicker3.min.css" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="/sbAdmin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/sbAdmin/dist/css/sb-admin-2.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/sbAdmin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

