<!-- jQuery -->
<script src="/sbAdmin/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/sbAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/sbAdmin/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/sbAdmin/vendor/raphael/raphael.min.js"></script>
<script src="/sbAdmin/vendor/morrisjs/morris.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/sbAdmin/dist/js/sb-admin-2.js"></script>
<!-- Must be -->
<script src="/js/musthave.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>
