<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ekiosk - Admin</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/"><i class="fa fa-bars fa-fw"></i> Dashboard</a>
                </li>
                <!-- <li> -->
                <!-- <a href=""><i class="fa fa&#45;bar&#45;chart fa&#45;fw"></i> Charts<span class="fa arrow"></span></a> -->
                <!--   <ul class="nav nav&#45;second&#45;level"> -->
                <!--     <li> -->
                <!--       <a href="azaza.html">Flot Charts</a> -->
                <!--     </li> -->
                <!--     <li> -->
                <!--       <a href="azaza.html">Morris.js Charts</a> -->
                <!--     </li> -->
                <!--   </ul> -->
                <!--   <!&#45;&#45; /.nav&#45;second&#45;level &#45;&#45;> -->
                <!-- </li> -->
                <li>
                    <a href="/statistics"><i class="fa fa-chart-bar fa-fw"></i> Statistics</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users fa-fw"></i> Users</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/users/list">List</a>
                        </li>
                        <li>
                            <a href="/users/addOne">Add One</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="/blog/list"><i class="fab fa-blogger fa-fw"></i> Blog</a>
                </li>
                <li>
                    <a href="/categories/list"><i class="fas fa-tags fa-fw"></i> Categories</a>
                </li>
                <li>
                    <a href="/providers/list"><i class="fas fa-handshake fa-fw"></i> Providers</a>
                </li>
                <li>
                    <a href="/delivers/list"><i class="fas fa-truck fa-fw"></i> Delivers</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-book fa-fw"></i> Nomenclatures<span class="fa fa-arrow-circle-down pull-right"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/nomenclatures/list">List</a>
                        </li>
                        <li>
                            <a href="/nomenclatures/addOne">Add One</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fab fa-product-hunt fa-fw"></i> Goods<span class="fa fa-arrow-circle-down pull-right"></span></a>
                    <ul class="nav nav-second-level">
                      <li>
                    <a href="#"><i class="fas fa-list fa-fw"></i> List<span class="fa fa-arrow-circle-down pull-right"></span></a>
                      <ul class="nav nav-third-level">
                        <li>
                            <a href="/goods/list">Active</a>
                        </li>
                        <li>
                            <a href="/goods/list?archived">Archived</a>
                        </li>
                        <li>
                            <a href="/goods/list?all">All</a>
                        </li>
                      </ul>
                      </li>
                        <li>
                            <a href="/goods/addOne">Add One</a>
                        </li>
                        <!-- <li>
                            <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                            <a href="typography.html">Typography</a>
                            </li>
                            <li>
                            <a href="icons.html"> Icons</a>
                            </li>
                            <li>
                            <a href="grid.html">Grid</a>
                            </li> -->
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- <li> -->
                <!--   <a href="#"><i class="fa fa&#45;sitemap fa&#45;fw"></i> Multi&#45;Level Dropdown<span class="fa arrow"></span></a> -->
                <!--   <ul class="nav nav&#45;second&#45;level"> -->
                <!--     <li> -->
                <!--       <a href="#">Second Level Item</a> -->
                <!--     </li> -->
                <!--     <li> -->
                <!--       <a href="#">Second Level Item</a> -->
                <!--     </li> -->
                <!--     <li> -->
                <!--       <a href="#">Third Level <span class="fa arrow"></span></a> -->
                <!--       <ul class="nav nav&#45;third&#45;level"> -->
                <!--         <li> -->
                <!--           <a href="#">Third Level Item</a> -->
                <!--  -->
                <!--         </li> -->
                <!--         <li> -->
                <!--           <a href="#">Third Level Item</a> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--           <a href="#">Third Level Item</a> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--           <a href="#">Third Level Item</a> -->
                <!--         </li> -->
                <!--       </ul> -->
                <!--       <!&#45;&#45; /.nav&#45;third&#45;level &#45;&#45;> -->
                <!--     </li> -->
                <!--   </ul> -->
                <!--   <!&#45;&#45; /.nav&#45;second&#45;level &#45;&#45;> -->
                <!-- </li> -->
                <li>
                    <a href="/orders/list">
                        <!-- <i class="fab fa&#45;hotjar " style="color:red;"></i> -->
                        <i class="fa fa-shopping-cart fa-fw"></i> Orders</a>
                </li>
                <!-- <li> -->
                <!--   <a href="#"><i class="fa fa&#45;shopping&#45;cart fa&#45;fw"></i> Orders<span class="fa fa&#45;arrow&#45;circle&#45;down pull&#45;right"></span></a> -->
                <!--   <ul class="nav nav&#45;second&#45;level"> -->
                <!--     <li> -->
                <!--       <a href="/orders/list">List</a> -->
                <!--     </li> -->
                <!--   </ul> -->
                <!-- </li> -->
                <li>
                    <a href="/help"><i class="fa fa-question-circle fw"></i> Help</a>
                </li>
            </ul>

        </div>
        <!-- /.sidebar-collapse -->
    <div>
    <!-- /.navbar-static-side -->
</nav>
