<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-12 ">
                    <br>
                    <form action="/nomenclatures/addOne" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="TEXT" id="name" class="form-control"name="name" minlength='2' step='1' placeholder="Product name" maxlength="255">
                        </div>
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea class="form-control" id="desc" name='desc' placeholder="Description" maxlength="1000" rows="4"></textarea>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="catIdSelect">Parent Id</label>
                            <select id="catIdSelect" class="categories-list form-control input-large" >
                            </select>
                                <input  id="catId" hidden="hidden" type='number' value='0'  name="catId">
                        </div>
                        <div class="form-group">
                            <label for="manufactor">Manufactor</label>
                            <input type="TEXT" class="form-control" id="manufactor" placeholder="Manufactor" name="manufactor" minlength='6' maxlength="255">
                        </div>
                        <!-- <div class="form-group">
                            <label for="manufactor">Manufactor</label>
                            <select id="manufactor" class="categories-list form-control input-large" name="manufactor"> </select>
                            </div> -->
                            <hr>
                            <hr>
                            <!-- TODO: product could to have few property values-->
                            <!-- <h1 class="bold">Properties</h1> -->
                            <!-- <div class="productProperies"> -->
                            <!-- </div> -->
                            <!-- <hr> -->
                            <!-- <h1 class="bold">Custom properties</h1> -->
                            <!-- <div class="productCustomProperies"> -->
                            <!-- </div> -->
                            <!-- <hr> -->
                            <!-- <h1 class="bold">Images</h1> -->
                            <!-- <hr> -->
                            <button type="submit" class="btn btn-primary productAddOne">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
<script>
var cats = <%- JSON.stringify(cats) %>;
var catsRoot = <%- JSON.stringify(catsRoot) %>;
var category = <%- JSON.stringify(category) %>;
</script>
        <%- include ../templates/jsRequired %> 
        <script src="/js/categories.js"></script>
        <script src="/js/categoriesTree.js"></script>
        <script src="/js/nomenclatures.js"></script>
    </body>
</html>
