<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-12 ">
                    <br>
                    <form action="/nomenclatures/editOne/<%= nomenclature.id %>" method="POST" >
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="TEXT" id="name" value="<%= nomenclature.name %>" class="form-control" name="name" minlength='2' step='1' placeholder="Product name" maxlength="255">
                        </div>
                        <div class="form-group">
                            <label for="/<%= nomenclature.id %>desc">Description</label>
                            <textarea class="form-control" id="desc"  name='desc' placeholder="Description" maxlength="1000" rows="4"><%= nomenclature.desc %></textarea>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="catId">Category id</label>
                            <!-- <select id="catId" class="categories&#45;list form&#45;control input&#45;large" name="catId"> -->
                            <!-- </select> -->
                            <select id="catIdSelect" class="categories-list form-control input-large" >
                            </select>
                                <input type='hidden' id="catId" name="catId" value="<%= nomenclature.categoryId %>"/>
                        </div>
                        <div class="form-group">
                            <label for="manufactor">Manufactor</label>
                            <input type="TEXT" class="form-control" id="manufactor" value="<%= nomenclature.manufactor%>" placeholder="Manufactor" name="manufactor" minlength='6' maxlength="255">
                        </div>
                        <hr>
                        <hr>
                        <!-- TODO: product could to have few property values-->
                        <!-- <h1 class="bold">Properties</h1> -->
                        <!-- <div class="productProperies"> -->
                        <!-- </div> -->
                        <!-- <hr> -->
                        <!-- <h1 class="bold">Custom properties</h1> -->
                        <!-- <div class="productCustomProperies"> -->
                        <!-- </div> -->
                        <button type="submit" class="btn btn-primary productAddOne">Submit</button>
                    </form>
                    <hr>
                    <hr>
                    <hr>
                    <h1 class="bold">Images</h1>
                    <span>Images will be removed from db. They will be on disk still.</span>
                    <a href="/nomenclatures/removeImages/<%=nomenclature.id%>" type="submit" class="btn btn-xs btn-danger deleteImages">Delete images</a>
                    <hr>
                    <div class="existsImages">
                    </div>
                    <form  method="POST" action="http://localhost:80/uploadImages/<%= nomenclature.id %>" enctype="multipart/form-data">
                        <input  multiple="multiple" type="file" required name="imgs"/>
<!--NOTE: IF SEND NO ONE FILES - WE GET ERROR  -->
                        <hr>
                        <button type="submit" class="btn btn-primary uploadImages">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <script>
var nomenclature = <%- JSON.stringify(nomenclature) %>;
var images = JSON.parse(nomenclature.images);
// console.log(images)
var cats = <%- JSON.stringify(cats) %>;
// selected category
var category = <%- JSON.stringify(category) %>;
var catsRoot = <%- JSON.stringify(catsRoot) %>;
        </script>
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
        <script src="/js/categories.js"></script>
        <script src="/js/categoriesTree.js"></script>
        <script src="/js/nomenclatures.js"></script>
	
    </body>
        </script>
</html>
