<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table" align='center'>
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th>#CatID</th>
                                        <th>Name</th>
                                        <th>Manufactor</th>
                                        <th>Desc</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td>
                                            <span><%= data[i].id %></span>
                                        </td>
                                        <td>
                                            <span><%= data[i].categoryId %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].name %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].manufactor %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].desc %></span>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/nomenclatures/editOne/<%= data[i].id %>" class="editGood btn btn-primary btn-xs" data-id="<%= data[i].id %>" data-title="Edit" ><span data-show=1 class="far fa-edit"></span></a></p>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="deleteNomenclature btn btn-danger btn-xs" data-id="<%= data[i].id %>" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
        <!-- <script src="/js/categories.js"></script> -->
        <!-- <script src="/js/categoriesTree.js"></script> -->
        <script src="/js/nomenclatures.js"></script>
    </body>
</html>

