<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/headers %>
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
        <script>
        // var showType = String(<%-showType%>) ;
        </script>
            <div id="page-wrapper">
                <div class="row">
                    <hr>
                    <div class="btn-group orderByStatusCode">
                        <%if (showType === "all") { %>
                            <a href="/orders/list" type="button" class="btn btn-primary">All</a>
                        <% } else{ %>
                            <a href="/orders/list" type="button" class="btn ">All</a>
                        <%}%>

                        <%if (showType === "opened") { %>
                            <a href="/orders/list?opened" type="button" class="btn btn-primary">Opened</a>
                        <% } else{ %>
                            <a href="/orders/list?opened" type="button" class="btn ">Opened</a>
                        <%}%>

                        <%if (showType === "processed") { %>
                            <a href="/orders/list?processed" type="button" class="btn btn-primary">Processed</a>
                        <% } else{ %>
                            <a href="/orders/list?processed" type="button" class="btn ">Processed</a>
                        <%}%>


                        <%if (showType === "closed") { %>
                            <a href="/orders/list?closed" type="button" class="btn btn-primary">Closed</a>
                        <% } else{ %>
                            <a href="/orders/list?closed" type="button" class="btn ">Closed</a>
                        <%}%>

                    </div>
                </div>
                <div class="row">
                    <hr>
                    <div class="">
                        <div class="table-responsive">
                            <table class="table" align='center'>
                                <thead>
                                    <tr>
                                        <th># ID</th>
                                        <th>Customer</th>
                                        <th>Sum</th>
                                        <th>Order Description</th>
                                        <th>Created at</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < orders.length; i++) { %>
                                    <tr>
                                        <td>
                                            <span><%= orders[i].id %></span>
                                        </td>
                                        <td>
                                            <!-- <% if (orders[i].customer != 0){ %> -->
                                            <span data-show=1><a href="/users/editOne/<%= orders[i].customer.id %>"><%= orders[i].customer.phone %></a></span>
                                            <!-- <%}else {%> -->
                                            <!-- <span data&#45;show=1><%= orders[i].customer.id %></span> -->
                                            <!-- <%}%> -->
                                        </td>
                                        <td>
                                            <span data-show=1><%= orders[i].sum %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= orders[i].orderDesc %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= orders[i].createdAt%></span>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/orders/editOne/<%= orders[i].id %>" class="editOrder btn btn-primary btn-xs" data-id="<%= orders[i].id %>" data-title="Edit" ><span data-show=1 class="far fa-edit"></span></a></p>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="deleteOrder btn btn-danger btn-xs" data-id="<%= orders[i].id %>" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <% include ../templates/jsRequired.ejs %>
        <script src="/js/orders.js"></script>
    </body>
</html>
