<!DOCTYPE html>

<html>
    <head>
        <% include ../templates/headers %>
    </head>
    <body>
        <%
        var items = order.items ;
        console.log(items )
        %> 
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-12 ">
                    <h3><b><i>Edit order</i></b></h2>
                    <form action="/orders/editOne/<%- order.id %>" method="POST">
                        <label for="statusCode">Status code:</label>
                        <select class="statusCodeOption" name='statusCode'>
                            <option value="0">0: opened</option>
                            <option selected value="1">1: processed</option>
                            <option value="2">2: closed</option>
                        </select>
                        <br/> <br/>
                        <label for="orderDesc">Order description: </label>
                        <br/>
                        <textarea  name="orderDesc" cols="25" rows="3" maxlength="3000"><%- order.orderDesc %></textarea>
                        <br/> <br/>
                        <button type="submit" class="btn btn-primary btn">Save</button>
                    </form>
                        <br/> <br/>
                    <h3><b><i>Information about customer </i></b></h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>UserDecription</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span><a href="/users/editOne/<%= order.customer.id%>"><%= order.customer.id%></a></span>
                                </td>
                                <td>
                                    <span><a href="/users/editOne/<%= order.customer.id%>"><%= order.customer.name%></a></span>
                                </td>
                                <td>
                                    <span><a href="/users/editOne/<%= order.customer.id%>"><%= order.customer.phone%></a></span>
                                </td>
                                <td>
                                    <span><a href="/users/editOne/<%= order.customer.id%>"><%= order.customer.email%></a></span>
                                </td>
                                <td>
                                    <span><a href="/users/editOne/<%= order.customer.id%>"><%= order.customer.userDesc%></a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h3><b><i>Information about order </i></b></h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Summary price</th>
                                <th>Summary quantity</th>
                                <th>Summary profit</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span><%= order.sum%></span>
                                </td>
                                <td>
                                    <span><%= order.allqty%></span>
                                </td>
                                <td>
                                    <span class="textRed textBold"><%= order.profit%></span>
                                </td>
                                <td>
                                    <span><%= order.createdAt%></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="customer"> -->
                    <!-- </div> -->
                    <!-- <div class="sum"> -->
                    <!-- </div> -->
                    <!-- <div class="date"> -->
                    <!-- </div> -->
                </div>
                <div class="row col-sm-12">
                    <!-- <h2><b></b>Products list</h2> -->
                </div>
                <div class="row col-sm-12">
                    <% items[0] %>
                    <div class="items">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Nomenclature name</th>
                                    <th>Entry Price</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i < items.length; i++) { %>
                                <tr>
                                    <td>
                                        <span data-show=1><a href="/goods/editOne/<%=items[i].id%>/"><%=items[i].id%></a></span>
                                    </td>
                                    <td>
                                        <span data-show=1><a href="/nomenclatures/editOne/<%=items[i].nomenclatureId%>/"><%=items[i].name%></a></span>
                                    </td>
                                    <td>
                                        <span><%= items[i].realPrice%></span>
                                    </td>
                                    <td>
                                        <span><%= items[i].price%></span>
                                    </td>
                                    <td>
                                        <span><%= items[i].quantity%></span>
                                    </td>
                                    <td>
                                        <span class="textBold"><%= items[i].quantity * (items[i].price - items[i].realPrice) %></span>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
        var orderStatusCode = <%=order.statusCode%>;
        </script>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <% include ../templates/jsRequired.ejs %>
        <script src="/js/orders.js"></script>
    </body>
</html>
