<!DOCTYPE html>
<html>

<head>
      <%- include ../templates/headers %> 
</head>

<body>
  <div id="wrapper">
    <% include ../templates/sidebar %>
<div id="page-wrapper">
    <div class="row col-sm-8 ">
        <br>
        <br>
        <form action="/blog/editOne/<%- data.id %>" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                  <input type="TEXT" id="title" name="title" minlength='6' maxlength="255" value="<%- data.title %>">
            </div>
            <br>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea class="form-control" id="body" minlength='60' name='body' maxlength="5000" rows="10"><%- data.body %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

  </div>
  <!-- /#wrapper -->
  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->
      <%- include ../templates/jsRequired %> 
  <script src="/js/blog.js"></script>
</body>

</html>
