<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row">
                    <div class="">
                        <h1 class="page-header">Blog</h1>
                        <div>
                            <h2>New Article</h2>
                            <form action="/blog/addOne" method="POST">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="TEXT" id="title" name="title" minlength='6' maxlength="255" value="<%- data.title %>">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="body">Body</label>
                                    <textarea class="form-control" id="body" minlength='60' name='body' maxlength="5000" rows="10"><%- data.body %></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <h2>Articles</h2>
                            <table class="table" align='center'>
                                <thead>
                                    <tr>
                                        <th># ArticleID</th>
                                        <th>Title</th>
                                        <th>Text</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td>
                                            <span><%= data[i].id %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].title %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].body %></span>
                                        </td>
                                        <td>
                                            <a href="/blog/editOne/<%= data[i].id %>" class="editArticle btn btn-primary btn-xs" data-id="<%= data[i].id %>" data-title="Edit" data-pressed="0" ><span data-show=1 class="far fa-edit"></span><span hidden data-show=1 class="far fa-save"></span></a>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="deleteArticle btn btn-danger btn-xs" data-id="<%= data[i].id %>" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
        <script src="/js/blog.js"></script>
    </body>
</html>
