<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-12 ">
                    <br>
                    <form action="/goods/addOne" method="POST">
                        <br>
                        <div class="form-group">
                            <label for="nomenclatureIdSelect">Nomenclature Id</label>
                            <select id="nomenclatureIdSelect" class="nomenclatures-list form-control input-large" >
                            </select>
                                <input  id="nomenclatureId" hidden="hidden" type='number' value='<%=nomenclature.id%>'  name="nomenclatureId">
                        </div>
                        <div class="form-group">
                            <label for="providerIdSelect">Provider Id</label>
                            <select id="providerIdSelect" class="providers-list form-control input-large" >
                            </select>
                                <input  id="providerId" hidden="hidden" type='number' value='<%=provider.id%>'  name="providerId">
                        </div>
                        <div class="form-group">
                            <label for="deliverIdSelect">Deliver Id</label>
                            <select id="deliverIdSelect" class="delivers-list form-control input-large" >
                            </select>
                                <input  id="deliverId"  required hidden="hidden" type='number' value='<%=deliver.id%>'  name="deliverId">
                        </div>
                            <hr>
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input class="form-control"  required id="quantity" type='number' value='1' step='1' name='quantity' min="0">
                            </div>
                            <div class="form-group">
                                <label for="real_price">Entry Price</label>
                                <input type="number" placeholder="0,00" required class="form-control realPrice" name="realPrice" step='1'min="0"/>
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input class="form-control" required id="price" type='number' placeholder="0,00"  name='price' min="0">
                                <!-- <input type="text" placeholder="0,00" class="form&#45;control price" /> -->
                            </div>
                            <div class="form-group">
                                <label for="discount">Discount</label>
                                <input type="number"  required placeholder="0%" max='100' class="form-control discount" name="discount" step='1'min="0"/>
                            </div>
                            <hr>
                            <!-- TODO: product could to have few property values-->
                            <!-- <h1 class="bold">Properties</h1> -->
                            <!-- <div class="productProperies"> -->
                            <!-- </div> -->
                            <!-- <hr> -->
                            <!-- <h1 class="bold">Custom properties</h1> -->
                            <!-- <div class="productCustomProperies"> -->
                            <!-- </div> -->
                            <!-- <hr> -->
                            <!-- <h1 class="bold">Images</h1> -->
                            <!-- <hr> -->
                            <button type="submit" class="btn btn-primary productAddOne">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
        <!-- <script src="/js/categories.js"></script> -->
        <!-- <script src="/js/categoriesTree.js"></script> -->
        <script src="/js/good.js"></script>
    </body>
</html>
<script>
var nomenclatureId = <%- JSON.stringify(nomenclature.id) %>;
var nomenclatures = <%- JSON.stringify(nomenclatures) %>;
var providers = <%- JSON.stringify(providers) %>;
var delivers = <%- JSON.stringify(delivers) %>;
nomenclaturesList();
providersList();
deliversList();
</script>
