<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-12 ">
                    <br>
                    <form action="/goods/editOne/<%= good.id %>" method="POST" >
                        <br>
                        <div class="form-group">
                            <label for="nomenclatureIdSelect">Nomenclature Id</label>
                            <select id="nomenclatureIdSelect" class="nomenclatures-list form-control input-large" >
                            </select>
                                <input  id="nomenclatureId" hidden="hidden" type='number' value='<%=nomenclature.id%>'  name="nomenclatureId">
                        </div>
                        <div class="form-group">
                            <label for="providerIdSelect">Provider Id</label>
                            <select id="providerIdSelect" class="providers-list form-control input-large" >
                            </select>
                                <input  id="providerId" hidden="hidden" type='number' value='<%=provider.id%>'  name="providerId">
                        </div>
                        <div class="form-group">
                            <label for="deliverIdSelect">Deliver Id</label>
                            <select id="deliverIdSelect" class="delivers-list form-control input-large" >
                            </select>
                                <input  id="deliverId"  required hidden="hidden" type='number' value='<%=deliver.id%>'  name="deliverId">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input class="form-control" id="quantity" required value="<%= good.quantity%>" type='number' value='1' step='1' name='quantity' min="0">
                        </div>
                        <div class="form-group">
                            <label for="real_price">Entry Price</label>
                            <input type="number" placeholder="0,00" required class="form-control realPrice" value="<%= good.realPrice%>" name="realPrice" step='1'min="0"/>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input class="form-control" id="price" required type='number' value="<%= good.price%>" placeholder="0,00"  name='price' min="0">
                            <!-- <input type="text" placeholder="0,00" class="form&#45;control price" /> -->
                        </div>
                        <div class="form-group">
                            <label for="discount">Discount</label>
                            <input type="number" placeholder="0%"required  class="form-control discount" value="<%= good.discount%>" name="discount" step='1' max="100"min="0"/>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary productAddOne">Submit</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
        <script src="/js/good.js"></script>
        <script>
var nomenclatureId = <%- JSON.stringify(nomenclature.id) %>;
var nomenclatures = <%- JSON.stringify(nomenclatures) %>;
var providers = <%- JSON.stringify(providers) %>;
var delivers = <%- JSON.stringify(delivers) %>;
var provider = <%- JSON.stringify(provider) %>;
var deliver = <%- JSON.stringify(deliver) %>;
var good = <%- JSON.stringify(good) %>;
// console.log(good)
nomenclaturesList();
providersList();
deliversList();
        </script>
    </body>
</html>
