<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %> 
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row">
                    <div class="">
                        <div class="table-responsive">
                            <table class="table" align='center'>
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <!-- <th>#NomenclatureID</th> -->
                                        <th>Nomenclature</th>
                                        <!-- <th>#ProviderId</th> -->
                                        <th>Provider</th>
                                        <!-- <th>#DeliverId</th> -->
                                        <th>Deliver</th>
                                        <th>Quantiity</th>
                                        <th>Discount</th>
                                        <th>Entry Price</th>
                                        <th>Price</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td>
                                            <span><%= data[i].id %></span>
                                        </td>
                                        <!-- <td> -->
                                        <!--     <span data&#45;show=1><a href="/nomenclatures/editOne/<%= data[i].nomenclatureId %>"><%= data[i].nomenclatureId %></a></span> -->
                                        <!-- </td> -->
                                        <td>
                                            <span data-show=1><a href="/nomenclatures/editOne/<%= data[i].nomenclatureId %>"><%= data[i].nomenclature.name %></a></span>
                                        </td>
                                        <!-- <td> -->
                                        <!--     <span data&#45;show=1><a href="/providers/editOne/<%= data[i].providerId %>"><%= data[i].providerId %></a></span> -->
                                        <!-- </td> -->
                                        <td>
                                            <span data-show=1><a href="/providers/editOne/<%= data[i].providerId %>"><%= data[i].provider.name %></a></span>
                                        </td>
                                        <!-- <td> -->
                                        <!--     <span data&#45;show=1><a href="/delivers/editOne/<%= data[i].deliverId %>"><%= data[i].deliverId%></a></span> -->
                                        <!-- </td> -->
                                        <td>
                                            <span data-show=1><a href="/delivers/editOne/<%= data[i].deliverId %>"><%= data[i].deliver.name%></a></span>
                                        </td>
                                        <td <% if(data[i].quantity == 0){%> class="bgRed colorWhite" <%}%> >
                                          <span data-show=1 <% if(data[i].quantity <= 5 && data[i].quantity > 0){%> class="textRed textBold" <%}%>><%= data[i].quantity %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].discount %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].realPrice %></span>
                                        </td>
                                        <td>
                                            <span data-show=1><%= data[i].price %></span>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/goods/editOne/<%= data[i].id %>" class="editGood btn btn-primary btn-xs" data-id="<%= data[i].id %>" data-title="Edit" ><span data-show=1 class="far fa-edit"></span></a></p>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="deleteGood btn btn-danger btn-xs" data-id="<%= data[i].id %>" data-nomenclatureId="<%= data[i].nomenclatureId %>" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
       <script src="/js/good.js"></script>
    </body>
</html>
