<!DOCTYPE html>
<html>
  <head>
    <%- include ../templates/headers %>
    <link rel="stylesheet" href="/styles/filters.css">
    <link rel="stylesheet" href="/styles/category.css">
  </head>

  <body>
    <%- include ../templates/header %>
    <div class="container-fluid categoryWrapper">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12 d-flex flex-wrap items">
            <% for (var i = 0; i < goods.length; i++){%>
            <div class="col-12 col-lg-4 col-md-6 product-item" 
                 data-product-id="<%=goods[i].id%>" 
                 data-product-price="<%=goods[i].price%>"
                 data-product-name="<%=goods[i].name%>" 
                 data-product-qty="1">
                 <div class="productGrowBlock">
                 </div>
                 <div class="img-wrapper">
                   <% if(Object.keys(goods[i].images).length === 0){%>
                   <img src="/images/placeholder.png" alt="">
                   <% }else{%>
                   <img src="<%= goods[i].images[0].toString() %>" alt="">
                   <%}%>
                 </div>
                 <div class="prod-wrapper">
                   <div class="productname-wrapper">
                     <span  class="productnameValue"><%= goods[i].name %></span >
                   </div>
                   <div class="price-wrapper">
                     <% if(goods[i].discount >0 ){%>
                     <span  class="productPrice sale-discount">-<%= goods[i].discount %>%</span >
                     <br>
                     <span  class="productPrice sale-price"><%= goods[i].price %>грн</span >
                     <%}else{%>
                     <span  class="productPrice "><%= goods[i].price %>грн</span>
                     <%}%>
                   </div>
                   <div class="product-buttons-wrapper d-flex flex-wrap">
                     <button class="btn productAddToCart w-100">В корзину</button>
                     <br> 
                     <a class="btn productView w-100" href="/product/<%=goods[i].id%>">Подробнее</a>
                   </div>
                 </div>
            </div>
            <%}%>
          </div>
        </div>
        <% if (pageQuantity > 1) { %>
        <div class="row">
          <div class="col-lg-12 col-12 categoryPages ">
            <ul class="pagination text-center d-flex flex-wrap justify-content-center  align-items-center">
              <% for(var i=1; i <= pageQuantity; i++) { %>
              <%if (i == pageNum) { %>
              <li class="page-item active"><a href="/category/<%- catName%>/<%- i%>" class='page-link'><%- i%></a></li>
              <% } else{%>
              <li class="page-item"><a href="/category/<%- catName%>/<%- i%>" class="page-link"><%- i%></a></li>
              <% } %>
              <% } %>
            </ul>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <script>
      var goods = <%- JSON.stringify(goods) %> 
    </script>
    <%- include ../templates/footer %>
    <%- include ../templates/jsRequired %>
    <script src="/js/category.js"></script>
    <script src="/js/filters.js"></script> 
    <script src="/js/productList.js"></script>

  </body>

</html>
