<div class="col-lg-3 col-12">
    <div class="filter-item">
            <input class="form-control" name="price" id="price">
            <div id="slider-range"></div>
    </div>
    <br>
    <div class="filterIt w-100">
        <button class="submit btn btn-large w-100">Filter</button>
    </div>
</div>
