<% if(typeof req.session.basket !== 'undefined' && req.session.basket.length > 0){%>
<!DoCTYPE html>
<html>
  <head>

    <% include templates/headers %>
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/basket.css">
  </head>

  <body>

    <% include templates/header %>
    <div class="container-fluid">
      <br>
      <div class="container">
        <div class="">
          <div class="table-responsive table col-12       ">
            <table class="table" align='center'>
              <thead>
                <tr> 
                  <th>Товар</th>
                  <th>Стоимость</th>
                  <th>Количество</th>
                  <th>Всего</th>
                  <th>Удалить</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < basket.length; i++) { %>
                <tr class="productInCart" data-productId=<%=basket[i].id%>> 
                  <td>
                    <span data-name=1><%= basket[i].name %></span>
                  </td>
                  <td>
                    <span data-price=1><%= parseFloat(basket[i].price).toFixed(2) %></span>
                  </td>
                  <td>
                    <input type="number" data-qty=1  data-qtybefore="<%= basket[i].qty%>" name='qty' size="1" value="<%= basket[i].qty%>">
                  </td>
                  <td >
                    <span data-total=1 ><%= parseFloat(basket[i].price * basket[i].qty).toFixed(2) %></span>
                  </td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" data-delete=1 title="Delete"><button class="deleteProduct btn btn-danger btn-xs" data-productId="<%-basket[i].id%>" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></p>
                  </td>
                </tr>
                <% } %>

                <tr>
                  <td> <b>Итого</b></td>
                  <td> </td>
                  <td data-totalQtyCart=1 > <b><span><%= basketData.qty %></span>&nbsp;шт</b></td>
                  <td data-totalSumCart=1 ><b><span><%= parseFloat(basketData.sum).toFixed(2) %></span>&nbsp; грн</b></td>
                  <td>
                    <!-- <button class="btn btn&#45;success checkoutBtn">Checkout</button> -->
                  </td>
                </tr>
              </tbody> 
            </table>
            <form action="#" class="col-12 col-md-4 col-sm-6 ">
            <label for="username">Введите имя:</label>
            <input id="username"  class="form-control" type="text" required  name="username">
            <br>
            <label for="userphone">Введите номер телефона:</label>
            <input type="text" name='userphone' class="form-control bfh-phone"  required data-format="+380 (dd) ddd ddd d">
            <br>
            <label for="useremail">Електронная почта ( опционально ):</label>
            <input type="email" name='useremail' class="form-control">
            </form>
            <br>
            <br>
            <button class="btn btn-primary refreshBasketBtn "disabled>Обновить корзину</button>
            <button class="btn btn-success checkoutBtn">Заказать</button>
          </div>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /.row -->
      </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>

    <% include templates/footer %>
    <% include templates/jsRequired %>
    <script src="/js/basket.js"></script> 
    <script src="/js/dependencies/bootstrap-formhelpers-phone.js"></script> 

  </body>

</html>

<script>

  var basket = <%- JSON.stringify(basket) %>
  var basketData = <%- JSON.stringify(basketData) %>
  let userId = <%= userID %>
  console.log(userId)
</script>
<% }else{%>
<% let alertMsg = 'Shopping cart is empty' %>
<% include alerts/warn.ejs %>
<% }%>
