<!DOCTYPE html>
<html>
    <head>
        <%- include templates/headers %>
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
    </head>
    <body>
        <%- include templates/header %>
        <div class="container">
            <div class="justify-content-center d-flex">
                <div class="col-md-10 p-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6306.665741357097!2d-122.40504975745135!3d37.782238128590876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085807e0e3b97b5%3A0x2483cdf8ec689a6!2s795+Folsom+St+%23600%2C+San+Francisco%2C+CA+94107%2C+USA!5e0!3m2!1sen!2sua!4v1523538079536" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span><span class="font-weight-bold">Office:</span> 795 Folsom Ave, Suite 600 San Francisco, CA 94107</span><br>
                        </li>
                        <li class="list-group-item"> 
                            <span><span class="font-weight-bold">Phone: </span>(91) 8547 632521</span><br>
                        </li>
                        <li class="list-group-item">
                            <span><span class="font-weight-bold">Fax: </span>(91) 11 4752 1433</span><br>
                        </li>
                        <li class="list-group-item">
                            <span><span class="font-weight-bold">Email:</span> info@panza.com </span><br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include templates/footer %>
        <%- include templates/jsRequired %>
    </body>
</html>
