<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">


    <link rel="stylesheet" href="/styles/dependencies/bootstrap/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/styles/dependencies/bootstrap/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/dependencies/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/dependencies/jquery-ui.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/account.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/filters.css">
    <link rel="stylesheet" href="/styles/category.css">

  </head>

  <body>
    <%- partial('templates/header') %>
    <%- body %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>

    <%- partial('templates/footer') %>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
    <script src="/js/dependencies/jquery-3.3.1.min.js"></script>
    <script src="/js/dependencies/popper.min.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/dependencies/jquery-ui.js"></script>
    <script src="/js/dependencies/flyto.min.js"></script>
    <script src="/js/header_menu.js"></script>
    <script src="/js/category.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/productList.js"></script>

  </body>
</html>
