
.topfooter_wrapper{
    .topfooter{
        >.row>div{
            padding: 30px;
            // align-self: center;
        }
        ul,li{
            list-style:none;
            padding: 0;
            margin: 0;
        }
        &__headers{
            font-size: 1.5em;
            color: #676767;
            font-weight: bold;
            >span{
                text-transform:uppercase;
            }
            @media only screen and (max-width: 576px) {
                    text-align:center;
            }
        }
        &__list{
            span{
                color: #939393;
            }
            &--bold{
                color: #676767;
                font-weight: bold;
            }
            li{
                margin: 10px 10px 10px 0;
            }
            a:hover{
                span{
                    color: @main_color;
                }
                text-decoration:none;
            }
            @media only screen and (max-width: 576px) {
                li{
                    text-align:center;
                }
            }
        }
    }
}

.bottomfooter_wrapper{
    background: #e5e5e5;

    .bottomfooter{
        min-height: 100px;
        &__copyright{
            width: 100%;
            font-size: 0.9em;
            min-height: 50px;
            color: #676767;
            font-weight: 600;
        }
    }
}

.bottomfooter_sm-icons {
    display: flex;
    min-height: 50px;
    width: 100%;
    a{
        font-size: 1.2em;
        color: #616161;
        margin: 5px;
        padding: 5px;
        display: block;
        &:hover{
            color: @main_color;
        }
    }
}
