.topheader_wrapper {
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, .2);
    .left_side,
    .left_side > ul {
        display: block;
    }
    .left_side {
        height: inherit;
    }
    .topheader_list {
        box-sizing: border-box;
        > li {
            margin-right: 0;
            padding: 0px 5px;
        }
        width: 100%;
        height: 100%;
    }

    .topheader_left_list a {
        color: #676767;
        padding: 5px;
    }
    .right_side__text {
        padding-left: 3px;
        a {
            color: #676767;
        }
    }
    @media (max-width: 350px) {
        .left_side{
            width: 100%;
        }
        .right_side {
            flex-grow: 1;
        }
    }
    .fa-user {
        color: @main_color;
    }
}

/////////////////////

.middleheader-wrapper{
    min-height: 120px;
    padding-top: 35px;
    padding-bottom: 10px;
    .middleheader{
        min-height: 50px;
        .middleheader-search{
            // background: #000;
            // width: 60%;
            min-height: inherit;
            >input-group-addon {
                width: 20%;
                margin-left: 5%;
            }
            .fa-search{
                color: @main_color;
            }
            .btn-outline-secondary{
                border :0.5px solid #6659b6b0;
            }
        }
        .middleheader-basket{
            height: 42px;
            // background: red;
            border: 1px solid @main_color;
            &:hover{
                cursor:pointer;
            }
            .basket_icon{
                width: 20%;
                height: 100%;
                background: @main_color;
                // border-radius: 5px; 
            }
            .basket_text{
                height: 100%;
                color: #676767bf;
                font-weight: 600;
                width: 80%;
            }
            .fa-shopping-basket{
                // color:@main_color;
                color:white;
            }
        }
    }

    @media (min-width: 1200px)  {
        .middleheader-basket{
            width: 21%;
        }
        .middleheader-search{

            margin-right: 3%;
        }
    }
    @media (min-width: 600px) and (max-width: 1200px){
        .middleheader-basket{
            width: 35%;
        }
        .middleheader-search{
            margin-right: 3%;
            width: 45%;
        }
    }
    @media (min-width: 380px) and (max-width: 600px){
        .middleheader-basket{
            width: 60%;
            margin-top: 10px;
        }
        .middleheader-search{
            width: 60%;
        }
    }
    @media (max-width: 380px)  {
        .middleheader-basket{
            margin-top: 10px;
        }
        .middleheader-search,.middleheader-basket{
            width: 100%;
        }
    }

}




a.nav-link.menuLinks.align-self-center:hover{
    color:white;
}
