<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/headers %>
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-8 ">
                    <br>
                    <br>
                    <form action="/categories/addOne" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="TEXT" id="name" name="name" minlength='2' required maxlength="255" >
                        </div>
                            <br>
                            <div class="form-group">
                                <label for="parentId">Parent Id</label>
                                <select id="parentId" class="categories-list form-control input-large" name="parentId">
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
        <script src="/js/categories.js"></script>
        <script src="/js/categoriesTree.js"></script>
    </body>
</html>
<script>
var cats = <%- JSON.stringify(cats) %>;
var category = <%- JSON.stringify(category) %>;
var catsRoot = <%- JSON.stringify(catsRoot) %>;
</script>
