<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/headers %>
    </head>
    <body>
        <div id="wrapper">
            <% include ../templates/sidebar %>
            <div id="page-wrapper">
                <div class="row col-sm-12 ">
                    <br>
                    <br>
                    <!-- <form action="/categories/edit/<%= category.id %>" method="POST" id="editCategory"> -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="TEXT" id="name" class="form-control" name="categoryName" minlength='2' value='<%= category.name%>' maxlength="255" >
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="parentId">Parent Id</label>
                        <select id="parentId" class="categories-list form-control input-large" name="categoryParentId">
                        </select>
                    </div>
                    <!-- <h1 class="bold">Exists Filters</h1> -->
                    <!-- <div class="exits&#45;filters"> -->
                    <!-- </div> -->
                    <!-- <hr> -->
                    <!-- <h1 class="bold">Add filter</h1> -->
                    <!-- <hr> -->
                    <!-- <div class="form&#45;group add&#45;filter&#45;item"> -->
                    <!--     <div class="filter&#45;item"> -->
                    <!--         <div class="form&#45;group"> -->
                    <!--             <label for="name">Name</label> -->
                    <!--             <input type="TEXT" class="addFilter form&#45;control" data&#45;filter=1 name="name" placeholder="Name for filter" minlength='6' maxlength="255" > -->
                    <!--         </div> -->
                    <!--             <div class="form&#45;group"> -->
                    <!--                 <label for="title">Title</label> -->
                    <!--                 <input type="TEXT" class="addFilter form&#45;control" name="title"data&#45;filter=1  placeholder="Title for filter" minlength='6' maxlength="255" > -->
                    <!--             </div> -->
                    <!--                 <div class="form&#45;group"> -->
                    <!--                     <label for="show">Show</label> -->
                    <!--                     <select id="show" class="addFilter  form&#45;control input&#45;large" data&#45;filter=1 name="show"> -->
                    <!--                         <option value="1">True</option> -->
                    <!--                         <option value="0">False</option> -->
                    <!--                     </select> -->
                    <!--                 </div> -->
                    <!--                 <div class="form&#45;group"> -->
                    <!--                     <label for="type">Type</label> -->
                    <!--                     <select id="show" class="addFilter form&#45;control input&#45;large" data&#45;filter=1 name="type"> -->
                    <!--                         <!&#45;&#45; // <option value="0">Range</option> &#45;&#45;> -->
                    <!--                         <option value="1">Radio</option> -->
                    <!--                         <option value="2">Checkbutton</option> -->
                    <!--                     </select> -->
                    <!--                 </div> -->
                    <!--                 <div class="form&#45;group d&#45;flex "> -->
                    <!--                     <label>Values</label><br> -->
                    <!--                     <input class="filter&#45;newValue&#45;id addFilterId new&#45;value&#45;id " type='number' value='1' step='1' name='quantity' min="1"> -->
                    <!--                     <input class="newValue&#45;name addFilterVal " name="value" type='text' value='value1'> -->
                    <!--                     <a class="btn btn&#45;primary btn&#45;xs add&#45;new&#45;value">Add</a> -->
                    <!--                     <div class="exitsts&#45;filter&#45;values"> -->
                    <!--                     </div> -->
                    <!--                 </div> -->
                    <!--     </div> -->
                    <!--             <button class="btn btn&#45;primary addFilterButton">Add Filter</button> -->
                    <!-- </div> -->
                    <button type="submit" class="btn btn-primary saveChanges ">Submit</button>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <%- include ../templates/jsRequired %> 
        <script src="/js/categories.js"></script>
        <script src="/js/categoriesTree.js"></script>
    </body>
</html>
<script>
var cats = <%- JSON.stringify(cats) %>;
var category = <%- JSON.stringify(category) %>;
var catsRoot = <%- JSON.stringify(catsRoot) %>;
</script>
