<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/headers %>
  </head>
  <body>
    <div id="wrapper">
      <% include ../templates/sidebar %>
      <div id="page-wrapper">
        <div class="row col-sm-8 ">
          <br>
          <br>
          <form action="/users/addOne" class="editOrAddForm" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="TEXT" id="name" name="name" class="form-control" required maxlength="255" >
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="TEXT" id="phone" required class="form-control bfh-phone" name="phone" data-format="+380 (dd) ddd ddd d" maxlength="19" minlength="19"  >
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" required class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="userDesc">User description</label>
              <br>
              <textarea name="userDesc" cols="25" rows="3" maxlength="3000"></textarea>
            </div>
              <button type="submit" class="btn btn-primary ">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- /#wrapper -->
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <%- include ../templates/jsRequired %> 
    <script src="/js/dependencies/bootstrap-formhelpers-phone.js"></script>
    <script src="/js/users.js"></script>
  </body>
</html>
