<!DOCTYPE html>
<html>
  <head>
    <%- include ../templates/headers %> 
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <div id="wrapper">
      <% include ../templates/sidebar %>
      <div id="page-wrapper">
        <div class="row">
          <div class="">
            <div class="table-responsive userList">
              <table class="table" align='center'>
                <thead>
                  <tr>
                    <th class=""># UserID</th>
                    <th >Name</th>
                    <th >Phone</th>
                    <th >Email</th>
                    <th >UserDesc</th>
                    <th >Edit</th>
                    <th >Delete</th>

                    <!-- <th style="width: 10%"># UserID</th> -->
                    <!-- <th style="width: 20%">Name</th> -->
                    <!-- <th style="width: 20%">Phone</th> -->
                    <!-- <th style="width: 40%">UserDesc</th> -->
                    <!-- <th style="width: 5%">Edit</th> -->
                    <!-- <th style="width: 5%">Delete</th> -->
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < data.length; i++) { %>
                  <tr>
                    <td class="">
                      <span><%= data[i].id %></span>
                    </td>
                    <td>
                      <span data-show=1><%= data[i].name %></span>
                      <!-- <input type="TEXT" hidden data&#45;show=1 size=10 value='name'> -->
                    </td>
                    <td>
                      <span data-show=1><%= data[i].phone %></span>
                    </td>
                    <td>
                      <span data-show=1><%= data[i].email %></span>
                    </td>
                    <td class='whitespace-normal'>
                      <span data-show=1><%= data[i].userDesc %></span>
                      <!-- <input type="TEXT" hidden data&#45;show=1 size=10 value='email'> -->
                    </td>
                    <td>
                      <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="editUser btn btn-primary btn-xs" data-id="<%= data[i].id %>" data-title="Edit" data-pressed="0" data-toggle="modal" data-target="#edit"><span data-show=1 class="far fa-edit"></span><span hidden data-show=1 class="far fa-save"></span></button></p>
                    </td>
                    <td>
                      <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="deleteUser btn btn-danger btn-xs" data-id="<%= data[i].id %>" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                    </td>
                  </tr>
                  <% } %>
                </tbody> 
              </table>
            </div>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <%- include ../templates/jsRequired %> 
    <script src="/js/users.js"></script>
  </body>
</html>
