<% if (res.locals.passwordChanged != "undefined" && res.locals.passwordChanged==true) { %>
        <%- include ../alerts/success %>
<% } %>
<% if (req.session.auth != "undefined" && req.session.auth == true ) { %>
<!DOCTYPE html>
<html>
    <head>
        <%- include ../templates/headers %>
        <link rel="stylesheet" href="/styles/account.css">
    </head>
    <body>
        <%- include ../templates/header %>
        <div class="container p-5 ">
            <div class="table-responsive mx-auto col-xl-5">          
                <table class="table">
                    <tbody>
                        <tr>
                            <td>UserID</td>
                            <td><%- req.session.userID %></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td><%- req.session.name %></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%- req.session.email %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="user-actions">
                <div class="btn-group text-center pt-4 col-12">
                    <a href="/account/exit" class="d-block btn btn-outline-primary mx-auto w-25">Exit</a>
                </div>
            </div>
            <div class="user-orders">
            </div>
        </div>
        <%- include ../templates/footer %>
        <%- include ../templates/jsRequired %>
    </body>
</html>
<% } %>
