<!DOCTYPE html>
<html>
  <head>
        <%- include ../templates/headers %>
    <link rel="stylesheet" href="/styles/account.css">

  </head>

  <body>
    <%- include ../templates/header %>

<div class="forgotpassword_form container col-xl-5 col-lg-7 col-md-8 ">
    <form action="/forgotpassword" method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name='email' required  class="form-control" maxlength='60' placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name='password' required class="form-control" minlength='6' maxlength='255' placeholder="Enter Password">
        </div>
        <div class="form-group">
            <label for="password">Password again</label>
            <input type="password" name='password2' required class="form-control" minlength='6' maxlength='255' placeholder="Enter Password Again">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="btn-group text-center w-100 pt-4">
            <a href="/login" class="d-block btn btn-outline-primary w-100">Login</a>
        <br>
            <a href="/signup" class="d-block btn  btn-outline-primary w-100">Sign up</a>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' type='text/javascript'></script>

    <%- include ../templates/footer %>
    <%- include ../templates/jsRequired%>

  </body>
</html>
